* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}
.logo h2{
    font-size: 45px;
    font-weight: 900;
    border: 5px solid rgb(0, 0, 0)  ;
    padding: 10px 25px;
    border-radius: 10px;

}
.color-orange {
    color:rgb(255, 208, 0);
    text-shadow: 7px 7px 9px rgba(0, 0, 0, 0.205);

}

.btn{
background-color: rgb(255, 208, 0);
border: none;
padding: 15px 30px;
border-radius: 5px;
font-size: 20px;
font-weight: bold;
color: rgba(0, 0, 0, 0.998);
 cursor:pointer;
}

.section-heading{
    text-align: center;
    max-width: 830px;
}
.section-heading h2{
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;

}
.section-heading p {
    font-size: 15px;
    margin-bottom: 25px;
    line-height: 25px;
    color: black;
}

/* main style */
header {
    background-color: rgba(164, 216, 239, 0.998);
    background: url(../images/developer.png) no-repeat, url(../images/rsz_yellow.png) no-repeat, rgba(164, 216, 239, 0.998); 
    background-position: top left, bottom right;
padding-top: 50px;
}
nav {
  width: 71%;
  max-width: 1140px;
  /* border: 2px solid yellow; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

nav .menu{
    display: flex;
    gap: 30px;  
    list-style: none;
    align-items: center;
   
}
nav .menu a{
  font-size: 23px;
  color: rgb(0, 0, 0);
text-decoration: none;
  
}
#banner {
    /* border: 3px solid rgb(255, 251, 0); */
    margin: 50px 40px 0 250px;
    display: flex;
    justify-content:space-between ;
align-items: center;
}
#banner .banner-content h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 6px;
    
}
#banner .banner-content h1{
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 15px;
}
#banner .banner-content p{
    font-size: 20px;
    margin-bottom: 25px;
    color: rgb(80, 78, 78);
    line-height: 34px;
    max-width: 580px;
}
#banner .banner-image img{
    max-width: 477px;
    vertical-align: middle;
}
#about {
    padding-top: 100px;
}
#about .about-content{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 130px 155px;
    background-color:rgba(164, 216, 239, 0.998);

}
#about .about-content .info{
    display: flex;
   justify-content: space-around;
    
}